* {
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}

:root {
  --primary: #bf0fcb;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

#Page404{
  color:var(--primary); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Page404 h1{
  font-size: 64px;
}

#Page404 h2{
  font-size: 36px;
}

#Page404 li{
  font-size: 32px;
  font-weight: bold;
  list-style-type: none;
}

#Page404 a{
  text-decoration: none;
}